* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
.page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.page .header {
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page .header video {
  z-index: -1;
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0;
}
.page .header .navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(71, 71, 71, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 0px;
}
.page .header .navbar .rating {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .header .navbar .rating .rating-number {
  width: 240px;
  height: 48px;
  background-color: #f0e7df1f;
  border-radius: 34px;
  display: flex;
}
.page .header .navbar .rating .rating-number .rating-logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
}
.page .header .navbar .rating .rating-number .rating-logo .ylogo {
  width: 30px;
  height: 30px;
}
.page .header .navbar .rating .rating-number .rating-text {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.page .header .navbar .rating .rating-number .rating-text .number {
  font-size: 13.8px;
  line-height: 20px;
}
.page .header .navbar .rating .rating-number .rating-text .explanation {
  font-size: 10.8px;
  line-height: 16px;
  color: #ffffffb2;
}
.page .header .navbar .rating .rating-description {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 13.8px;
  line-height: 20px;
  text-align: left;
  position: absolute;
  left: 200px;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2.5px;
}

.page .header .navbar .logo {
  width: 10%;
  height: 100%;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.page .header .navbar .info {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 100px;
}
.page .header .navbar .info .socials {
  width: 20%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .header .navbar .info .socials i {
  color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0e7df1f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  transition: all 0.2s linear;
}
.page .header .navbar .info .socials i:hover {
  color: #ff6f61;
  background-color: #ffffffb2;
}
.page .header .navbar .info .contact {
  width: 42.5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page .header .navbar .info .contact .phone-number {
  font-size: 13.8px;
  line-height: 20px;
  color: white;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2.5px;
}
.page .header .navbar .info .contact .address {
  font-size: 10.8px;
  line-height: 16px;
  color: #ffffffb2;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2.5px;
}
.page .header .navbar .info .button {
  width: 42.5%;
  height: 40px;
  background-color: #ffffff;
  border: none;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.page .header .navbar .info .button i {
  margin-left: 8px;
  font-size: 25px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
  position: relative;
  left: -20px;
}
.page .header .navbar .info .button:hover {
  background-color: #ff6f61;
  color: #fff;
}
.page .header .navbar .info .button:hover i {
  color: #fff;
}

.page .header .navigation {
  width: 100%;
  height: 8%;
  padding: 0 100px;
  position: absolute;
  top: 75px;
}
.page .header .navigation .container {
  width: 100%;
  height: 70%;
  border-top: 0.8px solid #ffffff7c;
  border-bottom: 0.8px solid #ffffff7c;
  padding-left: 20px;
  padding-right: 20px;
}
.page .header .navigation .container ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .header .navigation .container ul li a {
  color: white;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2.5px;
  transition: all 0.2s linear;
}
.page .header .navigation .container ul li a:hover {
  color: #ff6f61;
}

.page .header .slides {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 150px;
}
.page .header .slides .container {
  width: 100%;
  height: 100%;
  padding: 0 100px;
}
.page .header .slides .container .slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.page .header .slides .container .slide .slide-title {
  font-size: 48px;
  line-height: 56px;
  color: white;
  font-weight: 300;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2.5px;
}
.page .header .slides .container .slide .slide-description {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  max-width: 600px;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2.5px;
}
.page .header .slides .container .slide .slide-button {
  width: 300px;
  height: 50px;
  background: linear-gradient(90deg, #d4b26f 0%, #a87c25 100%);
  border: none;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 13.8px;
  line-height: 20px;
  color: #fff;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 2.5px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.page .header .slides .container .slide .slide-button i {
  font-size: 20px;
}
.page .header .slides .container .slide .slide-button:hover i {
  transform: translateX(5px) translateY(-5px);
  transition: all 0.2s linear;
}
.page .hidden {
  display: none;
}
.page .header .slide-previews {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.page .header .slide-previews .preview {
  width: 144.4px;
  height: 138px;
  border-radius: 10px;
  background-color: #ffffff1f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s linear;
}

.page .header .slide-previews .preview:hover {
  transform: scale(1.05);
  transition: all 0.2s linear;
}
.page .header .slide-previews .preview .left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}
.page .header .slide-previews .preview .preview-number {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.page .header .slide-previews .preview .left .preview-text {
  font-size: 12px;
  line-height: 124%;
  color: #000;
  margin-top: 5px;
  font-family: "Urbanist", sans-serif;
  letter-spacing: -1%;
  font-weight: 400;
}
.page .header .slide-previews .preview img {
  display: none;
}
.page .header .slide-previews .preview .left .preview-number {
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  left: -15px;
  top: -5px;
}
.page .header .slide-previews .preview .left .preview-description {
  font-size: 14px;
  line-height: 124%;
  color: #ffffffb2;
  margin-top: 5px;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 400;
  position: relative;
  left: -15px;
}
.page .header .slide-previews .current {
  width: 260px;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.page .header .slide-previews .current .left .current-number {
  color: #000;
  font-size: 15px;
  border: 1px solid #a87c25;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.page
  .header
  .slide-previews
  .current
  .left
  .preview-text
  .current-description {
  font-size: 13px;
  line-height: 124%;
  color: #000;
  margin-top: 5px;
  font-family: "Urbanist", sans-serif;
  letter-spacing: -1%;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.page .header .slide-previews .current .right .preview-image img {
  display: block;
}
